   /* Estilo Geral */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1, h2, h3 {
  color: #170676;
}

/* Cabeçalho */
header {
  background-color: #08a203a0;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  text-align: center;
  font-size: 2rem;
}

nav ul {
  text-align: center;
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffcc00;
}

/* Seção de Introdução */
.intro {
  text-align: center;
  margin-bottom: 40px;
}

.intro h2 {
  font-size: 2rem;
  color: #170676;
}

.intro p {
  font-size: 1rem;
  color: #555;
}

/* Seção de Curiosidades */
.curiosidades-nav {
  text-align: center;
  margin: 30px 0;
}

.curiosidades-nav h2 {
  font-size: 2rem;
  color: #170676;
}

.curiosidades-nav ul {
  list-style: none;
  padding: 0;
}

.curiosidades-nav ul li {
  margin: 10px 0;
}

.curiosidades-nav ul li a {
  color: #170676;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.curiosidades-nav ul li a:hover {
  color: #ffcc00;
}

/* Cards de Curiosidades */
.curiosidade-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.curiosidade-card h3 {
  color: #170676;
  margin-bottom: 15px;
}

.curiosidade-card p {
  color: #555;
  font-size: 1rem;
  line-height: 1.6;
}

.curiosidade-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.curiosidade-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

video {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}


/* Links de navegação */
a {
  color: #2600ff;
  text-decoration: none;
  font-size: 1rem;
}

a:hover {
  color: #ffcc00;
}

/* Rodapé */
footer {
  background-color:  #08a203a0;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}


/* Responsividade */
@media (max-width: 768px) {
  .curiosidade-card {
    width: 90%;
    margin: 15px auto;
  }
}

@media (max-width: 480px) {
  .curiosidade-card {
    width: 100%; /* Em telas muito pequenas, os cards ocupam 100% da largura */
  }
}